.introduction .deck-container {
	width: auto;
	max-width: 864px;
	margin: 16px auto 24px auto;
	height: 560px;
	font-size: 16px;
}
.no-boxshadow .introduction .deck-container {
	border: 1px solid #e4e4e4;
}

.boxshadow .introduction .deck-container {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.theme-menu {
	display: none;
	float: left;
	color: #888;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	line-height: 32px;
	height: 32px;
	font-family: sans-serif;
	padding-right: 15px;
	margin-left: 15px;
}

.js .theme-menu {
	display: block;
}
.theme-menu label {
	font-size: 12px;
	vertical-align: baseline;
	margin: 0 4px 0 15px;
}

#forkme {
	position: absolute;
	bottom: 10px;
	left: -48px;
	z-index: 3;
}

.footnote {
	position: absolute !important;
	bottom: 10px;
	z-index: 4;
}

.social a {
	color: inherit;
	border: none !important;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	font-family: 'fontello';
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
	line-height: 1em;
	speak: none;
	text-align: center;
	text-decoration: none !important;
	text-transform: none !important;
	width: 1em;
}

@media print {
	header, footer {
		display: none !important;
	}

	.introduction .deck-container {
		font-size: 1.25em;
	}
}